
.Content {
    padding: 1%;
    height: 91.5vh;
    width:80%;
    background-color: rgb(219, 174, 236);
    overflow-y:scroll;
    text-align: center;
}

.Conter-card > p, h1{
    text-align: left ;

}

.Conter-card > button {
    padding: 2%;
    margin: 2%;
}

.plus{
    background-color: green;
}
.minus {
    background-color: red;
}